<div class="container bg-light text-center p-3">
    <p class="h1">Shopping Listt<p>
    <div class="d-flex justify-content-around">
      <p class="h5">Amount of food items to buy: <%=@food_items%></p>
      <p class="h5">Total value of food needed: <%=@total%></p>
   </div>
</div>
<div class="container text-center mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
              <th class="col" >Food</th>
              <th class="col" >Quantity</th>
              <th class="col" >Total value</th>
            </tr>
        </thead>
        <tbody>
          <%@recipe_foods.each do |food| %>
            <tr>
              <td><%=Food.find(food.food_id).name%></td>
              <td><%=food.quantity%><%=Food.find(food.food_id).measurement_unit%></td>
              <td><%=food.quantity*Food.find(food.food_id).price%></td>
            <%end%>
            </tr>      
        </tbody>
    </table>
</div>



