<p>Shopping List<p>
<div>
<p>Amount of food items to buy: <%=@food_items%></p> 
<p>Total value of food needed: <%=@total%></p>
</div>
<div class="foods">
    <div>
        <p>Food</p>
        <%@recipe_foods.each do |food|%>
            <div><%=Food.find(food.food_id).name%></div>
        <%end%>
    </div>
    <div>
        <p>Quantity</p>
        <%@recipe_foods.each do |food|%>
            <div><%=food.quantity%> <%=Food.find(food.food_id).measurement_unit%></div>
        <%end%>
    </div>
     <div>
        <p>Price</p>
        <%@recipe_foods.each do |food|%>
            <div><%=food.quantity*Food.find(food.food_id).price%></div>
        <%end%>
    </div>
</div>