<div class="container p-4 bg-light rounded p-3">
<h2 class="h2 text-center p-2">Create your Recipe</h2>
  <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "#{type} alert" %>
      <% end %>
          <%= form_with url: "/recipes", scope: :recipe do |f| %>
          <div class="d-flex flex-column">
            <div class="field form-outline mb-4">
              <%= f.text_field :name, placeholder: "Name", class:"form-control" %>
            </div>
            <div class="field form-outline mb-4">
              <%= f.text_field :preparation_time, placeholder: "Preparation Time", class:"form-control" %>
            </div>
            <div class="field form-outline mb-4">
              <%= f.text_field :cooking_time, placeholder: "Cooking Time",class:"form-control" %>
            </div>
            <div class="field form-outline mb-4">
              <%= f.text_field :description, placeholder: "Description", class:"form-control" %>
            </div>

            <div class="field form-outline mb-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <%= f.check_box :public, {}, "true", "false" %>
                  <%= f.label :public, "Select If you want your recipe to be public" %>
                </div>
              </div>
            </div>
            <div class="actions text-center">
              <%= f.submit "Submit", class:"btn btn-outline-primary btn-lg" %>
            </div>
          </div>
          <% end %> 
</div>